/* You can add global styles to this file, and also import other style files */

@import 'assets/scss/bootstrap-variables.scss';
@import 'bootstrap/scss/bootstrap.scss';

.song-card-background {
  cursor: pointer;
  background-color: $card-inactive-background;
}

.song-card-background:hover {
  background-color: $card-hover-background;
  border-radius: $card-border-radius;
}

.author {
  color: $secondary;
  font-size: $font-size-small;
}